(
    // The actual sound file in your assets directory
    file: "sounds/loop.ogg",

    // Start sound at 2 seconds
    playback_region: Region(start: Seconds(2.), end: EndOfAudio),
    // Half amplitude
    volume: 0.5,
    // Play 50% faster (this also changes the pitch)
    playback_rate: 1.5,
    // Play more on the right
    panning: 0.75,
    // Reverse the sound
    reverse: true,
    // Loop the sound
    loop_region: Some(Region(start: Seconds(0.5), end: EndOfAudio)),
    // fade the sound in for 1.5 seconds
    fade_in_tween: Some(1500000),
)
